body {
    background-color: #111;
}

.Cards-outer-div {
    display: flex;
    justify-content: space-evenly;
}

.Movies-headline {
    color: white;
    margin-left: 1.3em;
    font-size: 35px;
    padding-bottom: 0.7em;
    padding-top: 1em;
}

.Outer-login-container {
    padding: 100px;
    display: flex;
    justify-content: space-around;
}

.Login-container {
    border: 2px solid #777;
    border-radius: 15px;
    width: 800px;
    text-align: center;
    background-image: url("../images/LoginBackground.svg");
}

.Left-container {
    width: 800px;
}

.Left-container img {
    width: 600px;
}

.Login-button {
    margin: 15px;
}

.Login-header {
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Login-error-message {
    color: red;
}

.Sign-up-text {
    color: white;
    margin-top: 15px;
}

.Sign-up-text a {
    font-weight: bold;
    color: cyan;
}

.Alert-message {
    margin-top: 50px;
    font-weight: bold;
    font-style: italic;
    font-size: 36px;
    text-align: center;
}

.Movie-poster-div {
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    color: white;
}

/* Wrap div under hvis skærm er lille */
@media (max-width: 1000px) {
    .Movie-poster-div {
        flex-wrap: wrap;
    }
}

.Movie-poster-div img {
    width: 350px;
    height: 550px;
    margin-right: 40px;
}

.Movie-title {
    color: white;
    margin-top: 40px;
    margin-left: 150px;
}

.Movieinfo-start-runtime {
    color: white;
    margin-left: 150px;
}

.Genre-title {
    font-weight: bold;
}

.Genre-info {
    font-style: italic;
}

.Starring-title {
    font-weight: bold;
}

.Watchlist-button {
    margin-top: 50px;
}

.Rating-container {
    color: white;
    margin-left: 150px;
    margin-top: 30px;
    font-size: 20px;
}

.Rate-button {
    margin-left: 75px;
    margin-bottom: 20px;
}

.Paging-controls {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.Card-body-fixed {
    height: 200px;
    overflow: auto;
}

.Rate-button {
    margin-left: 150px;

}

.Remove-rating-button {
    margin-left: 150px;
}

.Search-header {
    color: white;
    margin: 50px 0 50px 75px;
}

.Movie-filter-buttons {
    margin-bottom: 25px;
    margin-top: 50px;
    display: flex;
    gap: 80px;
    justify-content: center;
}

.Movie-rating {
    color: white;
    display: flex;
    margin-left: 150px;
    gap: 10px;
}

.footer {
    color: white;
    background-color: #222;
    text-align: center;
    margin-top: 40px;
}

.Errorpage-div {
    color: white;
    margin-top: 100px;
    text-align: center;
}

.Errorpage-div h1 {
    font-size: 76px;
    margin-bottom: 100px;
    font-weight: bold;
    font-style: italic;
}

.Errorpage-div img {
    margin-bottom: 150px;
}

.Welcome-user {
    color: white;
    margin-top: 30px;
    text-align: center;
    text-decoration: #89CFF0 wavy underline;
}
.Bookmark-container {
    color: white;
    margin-left: 40px;
    border: thick double #89CFF0;
    max-width: fit-content;
    padding: 20px;
}
.Bookmark-container h3 {
    font-weight: bold;
    text-decoration: white underline;
}
.Bookmark-link {
    color: white;
    text-decoration: none;
}
.Bookmark-link:hover {
    text-decoration: #89CFF0 wavy underline;
}