body {
    background-color: #111;
}
.Cards-outer-div {
    display: flex;
    justify-content: space-evenly;
}
.Movies-headline {
    color: white;
    margin-left: 1.3em;
    font-size: 35px;
    padding-bottom: 0.7em;
    padding-top: 1em;
}
.Outer-login-container {
    padding: 100px;
    display: flex;
    justify-content: space-around;
}
.Login-container {
    border: 2px solid #777;
    border-radius: 15px;
    width: 800px;
    text-align: center;
    background-image: url("../images/LoginBackground.svg");
}
.Left-container {
    width: 800px;
}

.Left-container img {
    width: 600px;
}
.Login-button {
    margin: 15px;
}
.Login-header {
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.Login-error-message {
    color: red;
}
.Sign-up-text {
    color: white;
    margin-top: 15px;
}
.Sign-up-text a {
 font-weight: bold;
 color:cyan;
}
.Alert-message {
    margin-top: 50px;
    font-weight: bold;
    font-style: italic;
    font-size: 36px;
    text-align: center;
}
.Movie-poster-div {
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    color: white;
}
/* Wrap div under hvis skærm er lille */
@media (max-width: 1000px) {
    .Movie-poster-div {
        flex-wrap: wrap;
    }
}
.Movie-poster-div img {
    width: 350px;
    height: 550px;
    margin-right: 40px;
}
.Movie-title {
    color: white;
    margin-top: 40px;
    margin-left: 150px;
}
.Movieinfo-start-runtime {
    color: white;
    margin-left: 150px;
}
.Genre-title {
    font-weight: bold;
}
.Genre-info {
    font-style: italic;
}
.Starring-title {
    font-weight: bold;
}
.Watchlist-button {
    margin-top: 50px;
}
.Rating-container{
    color: white;
    margin-left: 150px;
    margin-top: 30px;
    font-size: 20px;
    display: flex;
    gap: 20px;
}
.Rate-button {
    margin-left: 75px;
}